body {
  background: url("../images/NASA-Background.svg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  /*background-color: #333;*/
}

.no-top {
  margin-top: 0;
}